In [ ]:
import pandas as pd
import numpy as np

In [ ]:
#How to create Series with nd array
print(pd.Series(np.array([1,2,3,4,5,6,7])))

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [ ]:
#How to create Series with Mutable index
print(pd.Series(np.array([1,2,3,4,5,6,7]), index=['a','b','c','d','e','f','g']))

a    1
b    2
c    3
d    4
e    5
f    6
g    7
dtype: int64

In [ ]:
#Creating a series from a Dictionary
print(pd.Series({'name':1, 'new':10}))

name     1
new     10
dtype: int64

In [ ]:
#Print all the values of the Series by multiplying them by 2.
print(pd.Series(np.array([1,2,3,4,5,6,7]), index=['a','b','c','d','e','f','g'])*2)

a     2
b     4
c     6
d     8
e    10
f    12
g    14
dtype: int64

In [ ]:
#Print Square of all the values of the series.
print(pd.Series(np.array([1,2,3,4,5,6,7]), index=['a','b','c','d','e','f','g'])**2)

a     1
b     4
c     9
d    16
e    25
f    36
g    49
dtype: int64

In [ ]:
#Print all the values of the Series that are greater than2
print(pd.Series(np.array([1,2,3,4,5,6,7]), index=['a','b','c','d','e','f','g'])[pd.Series(np.array([1,2,3,4,5,6,7]), index=['a','b','c','d','e','f','g'])>2])

c    3
d    4
e    5
f    6
g    7
dtype: int64

In [ ]:
#Addition of two series
print(pd.Series(np.array([1,2,3,4,5,6,7]))+pd.Series(np.array([11,22,33,44,55,66,77])))

0    12
1    24
2    36
3    48
4    60
5    72
6    84
dtype: int64

In [ ]:
#Print the first and last 5 elements of a series
print(pd.Series(np.array([1,2,3,4,5,6,7])).head(5))

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
#Print the values from index 0 to 5
print(pd.Series(np.array([1,2,3,4,5,6,7]))[:5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [ ]:
#Selection Using loc, iloc index label
print(pd.Series(np.array([1,2,3,4,5,6,7])).loc[:2])
print(pd.Series(np.array([1,2,3,4,5,6,7])).iloc[:2])

0    1
1    2
2    3
dtype: int64
0    1
1    2
dtype: int64

In [ ]:
#Retrieve subsets of data using slicing
print(pd.Series(np.array([1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]))[2:14:2])

2      3
4      5
6      7
8      9
10    11
12    13
dtype: int64

In [ ]:
#create Dataframe From Series

In [ ]:
print(pd.DataFrame(pd.Series([1,2,3,4,5,6,7,8,9])))

   0
0  1
1  2
2  3
3  4
4  5
5  6
6  7
7  8
8  9

In [ ]:
#DataFrame from List of Dictionaries
print(pd.DataFrame({'name':[2,4,5,7,8], 'new':[4,6,8,9,1]}))

   name  new
0     2    4
1     4    6
2     5    8
3     7    9
4     8    1

In [ ]:
#Display the first 5 rows of data frame
print(pd.DataFrame({'name':[2,4,5,7,8,5,2,4], 'new':[4,6,8,9,1,7,9,1]}).head())

   name  new
0     2    4
1     4    6
2     5    8
3     7    9
4     8    1

In [ ]:
# Select the last two columns of the data frame
print(pd.DataFrame({'name':[2,4,5,7,8,5,2,4], 'new':[4,6,8,9,1,7,9,1], 'value':[1,2,3,4,5,6,7,8]}).iloc[: , 1:])

   new  value
0    4      1
1    6      2
2    8      3
3    9      4
4    1      5
5    7      6
6    9      7
7    1      8

In [ ]:
# Add two data frames
print(pd.DataFrame({'name':[2,4,5,7,8,5,2,4], 'new':[4,6,8,9,1,7,9,1]})+ pd.DataFrame({'name':[2,4,5,7,8,5,2,4], 'new':[4,6,8,9,1,7,9,1]}))

   name  new
0     4    8
1     8   12
2    10   16
3    14   18
4    16    2
5    10   14
6     4   18
7     8    2

In [ ]:
# Demonstrate deletion, and renaming of columns
val=pd.DataFrame({'name':[2,4,5,7,8,5,2,4], 'new':[4,6,8,9,1,7,9,1], 'value':[1,2,3,4,5,6,7,8], 'value2':[1,2,3,4,5,6,7,8]})
print(val.drop('name',axis=1))
val.rename(columns={'name':'name2'}, inplace=True)
print(val)

   new  value  value2
0    4      1       1
1    6      2       2
2    8      3       3
3    9      4       4
4    1      5       5
5    7      6       6
6    9      7       7
7    1      8       8
   name2  new  value  value2
0      2    4      1       1
1      4    6      2       2
2      5    8      3       3
3      7    9      4       4
4      8    1      5       5
5      5    7      6       6
6      2    9      7       7
7      4    1      8       8

In [ ]:
#Demonstrate concat, Merge operations in data frame
print(pd.concat([pd.DataFrame({'name':[2,4,5,7,8,5,2,4], 'new':[4,6,8,9,1,7,9,1]}),pd.DataFrame({'name':[2,4,5,7,8,5,2,4], 'new':[4,6,8,9,1,7,9,1]})], ignore_index=True))

    name  new
0      2    4
1      4    6
2      5    8
3      7    9
4      8    1
5      5    7
6      2    9
7      4    1
8      2    4
9      4    6
10     5    8
11     7    9
12     8    1
13     5    7
14     2    9
15     4    1

In [ ]:
data1 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'], 
        'Age':[27, 24, 22, 32],} 
data2 = {'key': ['K0', 'K1', 'K2', 'K3'],
         'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj'], 
        'Qualification':['Btech', 'B.A', 'Bcom', 'B.hons']} 
df = pd.DataFrame(data1)
df1 = pd.DataFrame(data2) 
# print(df, "\n\n", df1) 
print(pd.merge(df, df1, on='key'))

  key    Name  Age    Address Qualification
0  K0     Jai   27     Nagpur         Btech
1  K1  Princi   24     Kanpur           B.A
2  K2  Gaurav   22  Allahabad          Bcom
3  K3    Anuj   32    Kannuaj        B.hons

In [ ]:
#Write a Pandas program to join the two given dataframes along rows and
# assign all data

s1 = pd.DataFrame({
        'student_id': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Danniella Fenton', 'Ryder Storey', 'Bryce Jensen', 'Ed Bernal', 'Kwame Morin'], 
        'marks': [200, 210, 190, 222, 199]})

s2 = pd.DataFrame({
        'student_id': ['S4', 'S5', 'S6', 'S7', 'S8'],
        'name': ['Scarlette Fisher', 'Carla Williamson', 'Dante Morse', 'Kaiser William', 'Madeeha Preston'], 
        'marks': [201, 200, 198, 219, 201]})

print("Original DataFrames:")
print(s1)
print("-------------------------------------")
print(s2)
print("\ntwo dataframes along rows:")
result_data = pd.concat([s1, s2])
print(result_data)

Original DataFrames:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
-------------------------------------
  student_id              name  marks
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

two dataframes along rows:
  student_id              name  marks
0         S1  Danniella Fenton    200
1         S2      Ryder Storey    210
2         S3      Bryce Jensen    190
3         S4         Ed Bernal    222
4         S5       Kwame Morin    199
0         S4  Scarlette Fisher    201
1         S5  Carla Williamson    200
2         S6       Dante Morse    198
3         S7    Kaiser William    219
4         S8   Madeeha Preston    201

In [ ]:
#save dataframe to csv file
result_data.to_csv('output.csv')

In [ ]:
data=pd.read_csv('output.csv')
data

   Unnamed: 0 student_id              name  marks
0           0         S1  Danniella Fenton    200
1           1         S2      Ryder Storey    210
2           2         S3      Bryce Jensen    190
3           3         S4         Ed Bernal    222
4           4         S5       Kwame Morin    199
5           0         S4  Scarlette Fisher    201
6           1         S5  Carla Williamson    200
7           2         S6       Dante Morse    198
8           3         S7    Kaiser William    219
9           4         S8   Madeeha Preston    201