In [ ]:
import pandas as pd

s1 = pd.DataFrame({
        'RollNo': ['S1', 'S2', 'S3', 'S4', 'S5'],
         'name': ['Nirmal Fenton', 'Ryder Storey', 'Bryce Jensen', 'Nil Bernal', 'Kwame Morin'], 
         'age':[23,56,12,13,14],
        'marks': [20, 210, 190, 222, 30]})
s1

  RollNo           name  age  marks
0     S1  Nirmal Fenton   23     20
1     S2   Ryder Storey   56    210
2     S3   Bryce Jensen   12    190
3     S4     Nil Bernal   13    222
4     S5    Kwame Morin   14     30

In [ ]:
s1.head(2)

  RollNo           name  age  marks
0     S1  Nirmal Fenton   23     20
1     S2   Ryder Storey   56    210

In [ ]:
s1[s1['marks']>60]

  RollNo          name  age  marks
1     S2  Ryder Storey   56    210
2     S3  Bryce Jensen   12    190
3     S4    Nil Bernal   13    222

In [ ]:
s1[s1['name'].str.startswith('N')]

  RollNo           name  age  marks
0     S1  Nirmal Fenton   23     20
3     S4     Nil Bernal   13    222